@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    transition: .5s;
}
header{
    margin:auto;
    margin-bottom: 50px;
}
#imagem-topo-site{ 
    display: block;
    margin: auto;
    width: 1200px;
}
#topo-header{
    width: 100%;
    display: flex;
    background-color: #051a2c;
    justify-content: space-between;

}
#imagem-logo{
    width: 100px;
    height: 25px;
    margin: auto;
}
#menu-navegacao{
    padding: 25px;
}

a{
    margin-right: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 1.2em;
    border-radius: 3px;
}
a:hover{
    background-color: #ffffff28;
}





#potfolio > h1{
    margin: auto;
    max-width: 500px;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    text-shadow: 4px 4px 5px #00000062;
}
.texto-padrao{
    max-width: 800px;
    margin: 70px auto;
    text-indent: 30px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 900;
    font-size: 1.1em;
}

#container-imagens-modelo{
    display: flex;
    max-width: 1000px;
    height: 300px;
    background-color: #183241;
    justify-content: space-between;
    padding: 25px;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.534);
    margin: auto;
}

.imagens-modelos{
    margin: auto;
    font-weight: bolder;
    padding: 0px 0px 30px;
    text-align: center;
    background-color: #05121A;
    color: white;
    border-radius: 0px 0px 25px 0px;
}

#about{
    margin: 150px auto;
    background-color: #003D52;
    color: rgb(241, 241, 241);
    height: 600px;
    width: 1000px;
    position: relative;
}

#about > h1{
    padding: 70px 0px 0px 70px;
    font-size: 4.5em;
}
#about > p{
    padding: 70px;
    width: 410px;
    text-align: justify;
    line-height: 1.5em;
}

#imagem-detalhe{
    position: absolute;
    bottom: 0px;
    right: 0px;

}

#contato{
    color: #05121A;
    text-align: center;
}

footer{
    background-color: #051a2c;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15 0px;
    font-family: Arial, Helvetica, sans-serif;
}
footer:hover{
    color: #051a2c;
    background-color: white;
}